name: Code Samples Pull Request Update

on:
  pull_request_target:
    branches: ["main"]
    types: [opened]
    paths:
      - "src/viam/components/base/base.py"
      - "src/viam/components/board/board.py"
      - "src/viam/components/camera/camera.py"
      - "src/viam/components/motor/motor.py"
      - "src/viam/components/sensor/sensor.py"
      - "src/viam/components/servo/servo.py"
      - "src/viam/components/arm/arm.py"

      - "src/viam/components/gantry/gantry.py"
      - "src/viam/components/gripper/gripper.py"
      - "src/viam/components/input/input.py"
      - "src/viam/components/movement_sensor/movement_sensor.py"
      - "src/viam/components/pose_tracker/pose_tracker.py"
      - "src/viam/services/motion/motion.py"
      - "src/viam/services/vision/vision.py"

jobs:
  comment:
    name: "Post Comment on PR"
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Write Function
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: python ./etc/code-samples-action.py

      - name: Add code samples PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: Code-Samples Warning
          number: ${{ env.PR_NUMBER }}
          recreate: true
          path: code-samples-warning.md
