name: Generate docs

on:
  workflow_dispatch:
  push:
    paths:
      - 'src/viam/**'
      - 'docs/**'
      - 'README.md'
    branches: [ main ]

jobs:
  generate-docs:
    # if: github.repository_owner == 'viamrobotics'
    runs-on: [self-hosted, x64]
    container:
      image: ghcr.io/viamrobotics/canon:amd64
    steps:
      - name: Checkout Push/Workflow Dispatch
        uses: actions/checkout@v3

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install package
        run: poetry install

      - name: Generate docs
        run: |
          poetry run python3 -m examples.server.v1.server &
          sleep 2
          make documentation
          kill -9 `/usr/sbin/lsof -i:5000 -t`

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: html-docs
          path: docs/_build/html/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
          publish_branch: docs-gh_pages
          cname: python.viam.dev
