name: Generate docs

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  generate-docs:
    if: github.repository_owner == 'viamrobotics'
    runs-on: [self-hosted, x64]
    container:
      image: ghcr.io/viamrobotics/canon:amd64
    steps:
      - name: Checkout Push/Workflow Dispatch
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install -r etc/requirements.txt

      - name: Generate docs
        run: make docs

      - name: Add, Commit, and Push Docs
        uses: EndBug/add-and-commit@v9.0.0
        with:
          message: '[WORKFLOW] Autogenerate documentation'
