name: Release Candidate

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The type of version bump. All versions will have `rc*` appended. `rc` version bumps will happen automatically, so select the type of version bump for the final release. Use `-s` for no change."
        type: choice
        required: true
        default: "-s"
        options:
          - major
          - minor
          - patch
          - "-s"

jobs:
  prepare:
    # if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest
    outputs:
      rc_version: ${{ steps.bump_version.outputs.rc_version }}
      version: ${{ steps.bump_version.outputs.version }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install Package
        run: poetry install --all-extras

      - name: Clean Format Test
        run: make clean format typecheck test

      - name: Current version
        id: current_version
        shell: bash
        run: |
          echo "current_version=$(poetry version -s)" >> $GITHUB_OUTPUT

      - name: Bump Version
        id: bump_version
        shell: bash
        run: |
          if ${{ contains(steps.current_version.outputs.current_version, 'rc') }} ; then
            poetry version prerelease
          else
            poetry version "$(poetry version ${{ inputs.version }} -s --dry-run)"rc1
          fi
          echo "SDK_RC_VERSION=$(poetry version -s)" >> $GITHUB_ENV
          echo "SDK_VERSION=$(poetry version ${{ inputs.version }} -s --dry-run)" >> $GITHUB_ENV
          echo "rc_version=$(poetry version -s)" >> $GITHUB_OUTPUT
          echo "version=$(poetry version ${{ inputs.version }} -s --dry-run)" >> $GITHUB_OUTPUT

      - name: Check if release exists
        uses: cardinalby/git-get-release-action@1.2.4
        id: release_exists
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          releaseName: v${{ env.SDK_RC_VERSION }}
          doNotFailIfNotFound: "true"

      - name: Cancelling - release already exists
        uses: andymckay/cancel-action@0.2
        if: |
          steps.release_exists.outputs.id != ''

      - name: Add + Commit
        uses: EndBug/add-and-commit@v9
        with:
          new_branch: rc-${{ env.SDK_VERSION }}
          message: Bump version to ${{ env.SDK_RC_VERSION }}

      - name: Open PR
        run: |
          gh pr create -t "rc-${{ env.SDK_VERSION }}" -b "This is an auto-generated PR to merge the RC branch back into main upon successful release" -B "main" -H "rc-${{ env.SDK_VERSION }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    uses: ./.github/workflows/build-wheels.yml
    with:
      branch: rc-${{ needs.prepare.outputs.version }}
    needs: prepare
    # if: github.repository_owner == 'viamrobotics'

  release:
    needs: [prepare, build]
    # if: github.repository_owner == 'viamrobotics'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ needs.prepare.outputs.rc_version }}
          files: dist/**
          draft: true
          prerelease: true
          fail_on_unmatched_files: true
          target_commitish: rc-${{ needs.prepare.outputs.version }}
