name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The type of version bump. Select "-s" for no automatic version change. See https://python-poetry.org/docs/cli/#version'
        type: choice
        required: true
        default: '-s'
        options:
        - major
        - minor
        - patch
        - premajor
        - preminor
        - prepatch
        - prerelease
        - prerelease
        - prerelease
        - '-s'

jobs:
  prepare:
    # if: github.repository_owner == 'viamrobotics' && github.ref == 'refs/heads/main'
    # runs-on: [self-hosted, x64]
    # container:
    #   image: ghcr.io/viamrobotics/canon:amd64
    runs-on: ubuntu-latest
    outputs:
      sha: ${{ steps.commit.outputs.commit_long_sha }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        # with:
        #   token: ${{ secrets.REPO_READ_TOKEN }}

      # TODO: REMOVE
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install package
        run: poetry install

      - name: Clean Format Test
        run: make clean better_imports format test

      - name: Bump Version
        id: bump_version
        run: |
          poetry version ${{ inputs.version }}
          echo "SDK_VERSION=$(poetry version -s)" >> $GITHUB_ENV

      - name: Download Compiled Rust
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: 'viamrobotics/viam-rust-sdk'
          file: 'libviam-.*'
          regex: true
          target: 'bin/'

      - name: Commit + Push
        id: commit
        uses: EndBug/add-and-commit@v9.0.0
        with:
          default_author: github_actions
          message: Bumping prerelease version to v${{ env.SDK_VERSION }} [skip ci]

  build:
    needs: prepare
    # if: github.repository_owner == 'viamrobotics' && github.ref == 'refs/heads/main'
    # runs-on: [self-hosted, x64]
    # container:
    #   image: ghcr.io/viamrobotics/canon:amd64
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - arch: macosx_x86_64
            ext: dylib
            whl: macosx_11_0_x86_64
          - arch: macosx_arm64
            ext: dylib
            whl: macosx_11_0_arm64
          - arch: linux_aarch64
            ext: so
            whl: linux_aarch64
          - arch: linux_x86_64
            ext: so
            whl: linux_x86_64
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.prepare.outputs.sha }}
        #   token: ${{ secrets.REPO_READ_TOKEN }}

      # TODO: REMOVE
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install package
        run: poetry install

      - name: Copy
        run: cp bin/libviam-${{ matrix.arch }}.${{ matrix.ext }} src/viam/rpc/libviam.${{ matrix.ext }}

      - name: Build
        run: poetry build

      - name: Rename
        run: mv dist/viam-$(poetry run python -c "import viam; print(viam.__version__)")-py3-none-any.whl dist/viam-$(poetry run python -c "import viam; print(viam.__version__)")-py3-none-${{ matrix.whl }}.whl

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist
