name: Test

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request_target:
    branches: [ main ]

jobs:
  test:
    if: github.repository_owner == 'viamrobotics'
    runs-on: [self-hosted, x64]
    container:
      image: ghcr.io/viamrobotics/canon:amd64
    steps:
      - name: Checkout Push/Workflow Dispatch
        if: github.event_name == 'workflow_dispatch' || github.event_name == 'push'
        uses: actions/checkout@v2
      - name: Checkout PR
        if: github.event_name == 'pull_request_target'
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install -r etc/requirements.txt

      - name: Test
        run: make test
