name: Update Protos + Open PR

on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - protos-updated

jobs:
  update-protos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-setup-action@v1.28.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install package
        run: poetry install --all-extras

      - name: Generate buf
        run: make buf
        env:
          BUF_TOKEN: ${{ secrets.BUF_TOKEN }}

      - name: Generate better imports
        run: make better_imports

      - name: Format
        run: make format

      - name: Add + Commit + Open PR
        shell: bash
        run: |
          git checkout -b workflow/update-protos || git checkout workflow/update-protos
          git add --all
          git -c author.name=viambot -c author.email=viambot@users.noreply.github.com -c committer.name=GitHub -c committer.email=noreply@github.com commit -m "[WORKFLOW] Updating protos from ${{ github.event.client_payload.repo_name }}, commit: ${{ github.event.client_payload.sha }}"
          git -c pull.ff=only pull origin workflow/update-protos || true  # do not fail if the branch doesn't exist
          git push -f origin workflow/update-protos
          gh pr view workflow/update-protos && gh pr reopen workflow/update-protos || gh pr create -B main -H workflow/update-protos -t "Automated Protos Update" -b "This is an auto-generated PR to update proto definitions. Check the commits to see which repos and commits are responsible for the changes" -a viamrobotics/sdk-netcode -r viamrobotics/sdk-netcode
        env:
          GH_TOKEN: ${{ github.token }}
